In [ ]:
# zoo.py
def hours():
    print("Open 9-5 daily")

# In the interactive interpreter
import zoo
zoo.hours()

In [ ]:
# In the interactive interpreter
import zoo as menagerie
menagerie.hours()

In [ ]:
# SQLAlchemy code to connect to the sqlite3 database "books.db" and select title column in alphabetical order

from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///books.db')
conn = engine.connect()
metadata = MetaData()
book = Table('book', metadata, autoload=True, autoload_with=engine)

Session = sessionmaker(bind=engine)
session = Session()

query = session.query(book.columns.title).order_by(book.columns.title)

for title in query:
    print(title)

session.close()